@import './base.css';
.category , .product {
    background-color: #fff;
    width: 25%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0, 0, .1);
    margin: 10px;
    text-align: center;
}



.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination {
    list-style: none;
    display: flex;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    display: block;
    padding: 10px 15px;
    color: #007bff;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.page-link:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #ccc;
    cursor: not-allowed;
    border-color: #ddd;
}